let config={
  qiniu_uptoken: "/api/admin/assets/uptoken"
}
if(process.env.NODE_ENV == "development"){
   config["host"] = "http://localhost:3000";
  // config["host"] = "http://192.168.1.254:3000";
  // config["host"] = "http://192.168.1.254:4000";
  // config["host"] = "http://192.168.1.211:3000/";
  config["qiniu"]="http://onbakfi98.bkt.clouddn.com";
  //local为本地测试数据环境
  config["env"]="";
  // config["host"]="http://demo.mallbear.com/";
}else{
  config["qiniu"]="http://oi2gsetq3.bkt.clouddn.com";
  config["host"]= location.origin;
}

export const API_CONFIG = config;
